#
# This workflow is triggered on release events and updates the BOOTSTRAP_VERSION
# in the build.sh files of dependent repositories, and creates a pull request
# on each of the repositories with the updated version.
#
name: Update shared-sites dependent website repositories on release

on:
  release:
    types:
      - published

jobs:
  update-repositories:
    name: Update dependent website repositories on release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Git
        run: |
          git config --global user.name "keyman-server"
          git config --global user.email "server@keyman.com"

      - name: Extract release version
        id: extract_version
        run: echo "BOOTSTRAP_VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Clone target repositories
        run: |
          . sites.inc.sh
          mkdir -p keymanapp
          cd keymanapp
          for repo in "${repositories[@]}"; do
            git clone "https://github.com/$repo.git"
          done
          cd ..

      - name: Update build.sh files
        run: |
          cd keymanapp
          for repo in *; do
            cd "$repo"
            if [ -f build.sh ]; then
              sed -i "s/^readonly BOOTSTRAP_VERSION=.*/readonly BOOTSTRAP_VERSION=${BOOTSTRAP_VERSION}/" build.sh
              git checkout -b auto/update-bootstrap-version-${BOOTSTRAP_VERSION}
              git add build.sh
              git commit -m "chore: update BOOTSTRAP_VERSION to ${BOOTSTRAP_VERSION}"
              git remote set-url --push origin "https://keyman-server:${GITHUB_TOKEN}@github.com/keymanapp/$repo.git"
              git push -u origin auto/update-bootstrap-version-${BOOTSTRAP_VERSION}
              gh pr create --title "auto: update shared-sites version to ${BOOTSTRAP_VERSION}" --label auto --reviewer darcywong00,mcdurdin,ermshiperete --body "Update BOOTSTRAP_VERSION to [${BOOTSTRAP_VERSION}](https://github.com/keymanapp/shared-sites/releases/tag/${BOOTSTRAP_VERSION})." --repo "keymanapp/${PWD##*/}"
            fi
            cd ..
          done
        env:
          # We must use a token with broader scope to write to
          # other repositories in the org. Default GHA GITHUB_TOKEN
          # is constrained to the current repository.
          GITHUB_TOKEN: ${{ secrets.KEYMAN_SERVER_PAT }}